{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/mycss.css'%}" rel="stylesheet">


    
    <title>Wazadio!</title>
  </head>
  <body>
    

    {%block konten%}

    {%endblock%}


    <!--<script src="{%static 'js/jquery.js'%}"></script>-->


  </body>
</html>
